In [7]:
import pandas as pd
import json
import requests
from io import StringIO
from csv import reader
import os
import glob

In [8]:
path_to_csv = r'C:\Users\David\Amber Heard Case\Youtube\SNA-AH-Case-YouTube\scraping\videos_data'
csv_files = [pos_csv for pos_csv in os.listdir(path_to_csv) if pos_csv.endswith('.csv')]
len(csv_files)

6

In [12]:
df = pd.read_csv(path_to_csv+"/" + '22- scraped ids by david  - amber heard the stand.csv', index_col=None, header=0)

In [13]:
li = []

for filename in csv_files:
    df = pd.read_csv(path_to_csv+"/"+filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)
frame.shape

(3892, 6)

In [16]:
frame

      IqJ7xx-RY1E 2xGafbvIBV4 zsu0ORKvq9o twT_gV7H_1Q uretrfMA-Io  iT2Kiyt7-rk
0     dJe8bl_BLDE         NaN         NaN         NaN         NaN          NaN
1     8JpR1dt7fcE         NaN         NaN         NaN         NaN          NaN
2     tXHRwB11VJg         NaN         NaN         NaN         NaN          NaN
3     ayA9KeKqBmc         NaN         NaN         NaN         NaN          NaN
4     QREk_6jS1Ss         NaN         NaN         NaN         NaN          NaN
...           ...         ...         ...         ...         ...          ...
3887          NaN         NaN         NaN         NaN         NaN  PjnsYz-xdOI
3888          NaN         NaN         NaN         NaN         NaN  m93dmAL4qyc
3889          NaN         NaN         NaN         NaN         NaN  gcC485ckq5s
3890          NaN         NaN         NaN         NaN         NaN  n1TNLU-ydLA
3891          NaN         NaN         NaN         NaN         NaN  BvJ87yR6jQI

[3892 rows x 6 columns]

In [14]:
frame.drop_duplicates(subset='id', keep='last', inplace=True)
frame.shape

KeyError: Index(['id'], dtype='object')

In [5]:
frame.to_csv('all_scrabed_data_for_16_files.csv', index=None)

# save channels Id
total_channels_id = frame['snippet.channelId']
total_channels_id.to_csv(r'C:\Users\David\Amber Heard Case\Youtube\SNA-AH-Case-YouTube\scraping\total_channels_id.csv', index=None)

In [81]:
total = frame['id']
total.to_csv(r'C:\Users\David\Amber Heard Case\Youtube\SNA-AH-Case-YouTube\scraping\total.csv', index=None)